body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: tomato;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.loader img {
  width: 500px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}
