body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: tomato;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.loader img {
  width: 500px;
}

.loader h1 {
  margin-top: -100px;
}
